
  <h1>About Dracula</h1>

  <p>Born a long time ago. His diet consists of blood. He sleeps in the day and
    comes out at night. He can be killed by exposure to daylight. He's allergic
    to garlic. He has many brides.</p>

  <button class="btn btn-primary" {{action 'showRealName'}}>Click Here to learn Dracula's real name!</button>

  {{#if isPictureShowing}}
    <p><img src="http://upload.wikimedia.org/wikipedia/en/2/29/Count_von_Count_kneeling.png"
            alt="A photo of Dracula"></p>
    <button class='btn btn-info' {{action 'hidePicture'}}>Put him back in his coffin!</button>
  {{else}}
    <button class="btn btn-info" {{action 'showPicture'}}>Click here to see the Count</button>
  {{/if}}
