
  <h1>About Dracula</h1>

  <p>Born a long time ago. His diet consists of blood. He sleeps in the day and
    comes out at night. He can be killed by exposure to daylight. He's allergic
    to garlic. He has many brides.</p>

  <button class="btn btn-primary" {{action 'showRealName'}}>Click Here to learn Dracula's real name!</button>
