<div class="container">
  <h1>Contact</h1>
  <p>Want to get in touch?</p>
  <ul>
    <li>Phone: 1-800-DRACULA</li>
    <li>Email: <a href="count@dracula.com">count@dracula.com</a></li>
  </ul>
</div>
